<a href="https://colab.research.google.com/github/Monica-Restrepo/clases-programacion/blob/main/Practica_pandas_formatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import chardet

In [3]:
with open('datos_sus.csv', 'rb') as f:
    result = chardet.detect(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'datos_sus.csv'

In [ ]:
import builtins
print = builtins.print

# Now you can print the result:
print(result)

In [ ]:
url = 'datos_sus.csv'

In [ ]:
datos = pd.read_csv(url, encoding='ISO-8859-1', sep=';', skiprows=3, skipfooter = 9, engine='python')

In [ ]:
datos.head()

## Subiendo datos desde google sheets

link: https://docs.google.com/spreadsheets/d/1_q73IYtr8hc7f9N-eLxntaCSayOGtkfyT0y6KYTxfdI/edit?usp=sharing

In [6]:
sheet_id = '1_q73IYtr8hc7f9N-eLxntaCSayOGtkfyT0y6KYTxfdI'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [7]:
import pandas as pd

emiones_mundo = pd.read_csv(url)

In [8]:
emiones_mundo.to_csv('emiones_mundo.csv', index=False)

In [9]:
emiones_mundo

,Country Name,country_code,Region,Indicator Name,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019.1
0,Aruba,ABW,Latin America & Caribbean,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,South Asia,CO2 emissions (metric tons per capita),"191,745,115","167,681,579","95,957,742","8,472,111","75,545,827","68,467,956",...,"29,650,624","259,295,334","18,562,366","146,235,617","172,896,741","149,789,334","131,694,556","1,632,953","159,824,372","159,824,372"
2,Angola,AGO,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"553,661,955","544,538,649","543,557,223","70,898,423","836,804,405","912,141,485",...,"985,522,312","950,695,879","1,036,293,852","1,099,779,111","113,504,405","1,031,811,348","81,330,073","777,674,934","792,137,069","792,137,069"
3,Albania,ALB,Europe & Central Asia,CO2 emissions (metric tons per capita),"1,819,541,634","124,281,022","683,699,826","638,307,036","645,355,189","605,436,253",...,"166,942,319","150,324,046","1,533,630,039","1,668,337,371","160,377,515","1,557,664,358","1,788,786,074","1,782,738,948","169,224,832","169,224,832"
4,Andorra,AND,Europe & Central Asia,CO2 emissions (metric tons per capita),"7,521,831,658","723,537,924","69,630,787","6,724,177,518","6,541,578,914","6,733,479,486",...,"5,850,886,105","5,944,654,173","5,942,800,412","5,807,127,723","6,026,181,822","6,080,600,282","6,104,133,912","6,362,975,399","6,481,217,432","6,481,217,432"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Samoa,WSM,East Asia & Pacific,CO2 emissions (metric tons per capita),"55,283,574","609,756,098","604,266,119","658,221,486","592,806,881","705,674,802",...,"1,066,843,067","1,057,703,002","1,048,701,723","1,092,498,145","1,240,245,954","1,542,099,372","1,586,830,344","1,478,626,161","1,522,124,134","1,522,124,134"
211,"Yemen, Rep.",YEM,Middle East & North Africa,CO2 emissions (metric tons per capita),"56,703,735","690,937,429","704,793,064","627,104,927","653,255,714","706,080,534",...,"963,978,488","858,490,955","1,106,687,715","1,062,211,282","511,361,652","399,363,829","359,621,635","341,068,402","380,633,361","380,633,361"
212,South Africa,ZAF,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"6,729,798,587","6,424,621,766","6,175,429,944","6,219,193,872","6,215,847,077","6,378,789,568",...,"7,869,815,906","8,077,957,969","8,138,264,312","8,212,241,156","7,669,937,662","7,563,739,495","7,641,675,086","7,515,678,605","7,507,736,092","7,507,736,092"
213,Zambia,ZMB,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"340,929,635","349,232,211","33,722,439","289,956,061","241,269,619","234,153,214",...,"217,496,732","27,860,069","284,057,568","304,549,552","312,354,964","325,114,844","404,067,778","445,489,133","380,717,051","380,717,051"
214,Zimbabwe,ZWE,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"1,585,443,976","1,713,321,439","1,694,415,977","1,539,740,958","1,417,186,242","135,661,892",...,"88,488,553","915,734,944","919,824,123","889,104,126","899,769,991","78,544,084","726,297,071","857,411,269","80,297,852","80,297,852"